<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>
    Список технологий использованных для создания сайта
  </h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
        <img width="400" height="400" align="right"
        src="{% static 'img/hammer_anvil.png' %}">
        Грызем гранит ударными темпами
    </p>
  </article>
</div>
{% endblock %}
